.main{
    @media screen and (max-width: 1560px){
        .projects{
            &_img{
                &::before{
                    display: none;
                }
            }
        }
}
    @media screen and (max-width: 1200px){
        .projects{
            flex-wrap: wrap;
            &_text{
                width: 470px;
            }
        }
}
}